p {
  font-family: "Arial";
  font-size: 12pt;
}

#titulo-principal {
  text-align: center;
  color: chocolate;
}

.subtitulo {
  color: blue;
  font-weight: bold;
}

ul a {
  text-decoration: none;
  color: red;
}
