* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-banner {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh;
  background-color: cadetblue;
}

.hero-banner h1 {
  color: whitesmoke;
  font-size: 4rem;
}

.hero-banner p {
  color: #cccccc;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .hero-banner h1 {
    font-size: 8rem;
  }

  .hero-banner p {
    font-size: 4rem;
  }
}
